  <div class="button-pattern">

      <p><button class="btn btn-red">Red</button></p>
      <p><button class="btn btn-black">Black</button></p>
      <p><button class="btn btn-blue">Blue</button></p>
      <p><button class="btn btn-flexi">Brand Color</button></p>
      <p> <button class="btn btn-grey">Grey</button></p>
  </div>