<div class="pattern">
  <form>
    <div class="form-group">
          <label for="text_input"> Text Input</label>
          <input type="text" name="text_input" placeholder="Text Input" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
    <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
      <label for="web_address">Web Address</label>
        <input type="url" name="web_address" placeholder="Web Address" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
    <label for="search">Search</label>
    <input type="search" name="search" placeholder="Search" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
        <label for="number">Number</label>
        <input type="number" name="number" placeholder="Number" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
      <label for="number">Number</label>
      <input type="number" name="number" placeholder="Number" class="form-control " value="" size="20" />
  </div>
  
    <div class="form-group">
      <label for="">Textarea</label>
      <textarea name="" placeholder="Enter your message here" class="form-control " rows="8"></textarea>
  </div>
  
    <div class="form-group">
    <label for="error_input">Error Input</label>
      <input type="text" name="error_input" placeholder="Error Input" class="form-control error is-invalid" value="" size="20" />
  </div>
  
    <div class="form-group">
      <label for="valid_input">Valid Input</label>
        <input type="text" name="valid_input" placeholder="Valid Input" class="form-control valid" value="" size="20" />
  </div>
  </form>
</div> 