<!-- Begin .header -->
<header class="header cf" role="banner">
	{% include "@atoms/04-images/00-logo.twig" %}
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{% include "@molecules/05-navigation/00-primary-nav.twig" %}
</header>
<!-- End .header -->
