 <div class="sidebar-nav">

      <h3>Menu Title</h3>
      
      <ul class="navbar-nav" role="navigation">
        <li class="nav-item has-children">
          <a href="#" class="nav-link">Link title with one line</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Child link</a>
            </li>  
            <li class="nav-item">
              <a href="#" class="nav-link">Child link</a>
            </li> 
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link title with a really really obnoxiously long title that will absolutely wrap onto multiple lines</a>
        </li>
        <li class="nav-item current">
          <a href="#" class="nav-link">Link title that is the current page</a>
        </li>
        <li class="nav-item has-children">
          <a href="#" class="nav-link">Link title</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Child link</a>
            </li>  
          </ul>
        </li>
        <li class="nav-item has-children">
          <a href="#" class="nav-link">Link title with children</a>
          <ul class="navbar-nav">
            <li class="nav-item current">
              <a href="#" class="nav-link">Child link</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Child link with a really really obnoxiously long title that will absolutely wrap onto multiple lines</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Child link</a>
            </li>      
          </ul>
        </li>
      </ul>
    </div>