
<article class="article-content two-col-article">

{% include "@molecules/05-navigation/02-breadcrumbs.twig" %}
<div class="article-wrapper">
      <div class="article-body">
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla sem a urna porttitor fringilla. Nulla eget justo felis. </p>
        <p><a href="#">Aliquam erat volutpat.</a> Mauris vulputate scelerisque feugiat. Cras a erat a diam venenatis aliquam. Sed tempus, purus ac pretium varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eros dolor, rutrum eu sollicitudin eu, commodo at leo. Suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus. Maecenas eu urna adipiscing neque dictum mollis suscipit in augue. Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>
        <img class="responsive" src="http://placeimg.com/1280/720/nature/grayscale" alt="16x9 Image" />
        <p>Aliquam ultrices cursus mauris, eget volutpat justo mattis nec. Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, convallis et arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar. Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui.
        </p>
        <blockquote class="blockquote">
          <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
        </blockquote>
        <p>Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat. Morbi malesuada augue ac massa hendrerit fermentum. Integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.
        </p>
        <div class="text">
          <ul>
            <li>This is a list item in an unordered list</li>
            <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
            <li>
              Lists can be nested inside of each other
              <ul>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
              </ul>
            </li>
            <li>This is the last list item</li>
          </ul>
        </div>
      </div>
      <aside>
          <div class="sidebar-nav">

              <h3>Menu Title</h3>
              
              <ul class="navbar-nav" role="navigation">
                <li class="nav-item has-children">
                  <a href="#" class="nav-link">Link title with one line</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="#" class="nav-link">Child link</a>
                    </li>  
                    <li class="nav-item">
                      <a href="#" class="nav-link">Child link</a>
                    </li> 
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Link title with a really really obnoxiously long title that will absolutely wrap onto multiple lines</a>
                </li>
                <li class="nav-item current">
                  <a href="#" class="nav-link">Link title that is the current page</a>
                </li>
                <li class="nav-item has-children">
                  <a href="#" class="nav-link">Link title</a>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="#" class="nav-link">Child link</a>
                    </li>  
                  </ul>
                </li>
                <li class="nav-item has-children">
                  <a href="#" class="nav-link">Link title with children</a>
                  <ul class="navbar-nav">
                    <li class="nav-item current">
                      <a href="#" class="nav-link">Child link</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Child link with a really really obnoxiously long title that will absolutely wrap onto multiple lines</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Child link</a>
                    </li>      
                  </ul>
                </li>
              </ul>
            </div> <!-- End of sidebar navigation-->
      </aside>
    </div>
  </article>

</article>