<div class="profile-card card">
      <div class="card-body">
      <a href="#">
      <img class="img-fluid" src="http://placeimg.com/300/300/nature" alt="Square" />    <div>
          <div class="profile-card-name">
            More than a name it could be super long
          </div>
          <div class="profile-card-title">
            Here is my awesome title that can also be so long it reads like a book
          </div>
          <div class="profile-card-text">
            <p>Curabitur massa risus, malesuada blandit volutpat vitae, suscipit non arcu. Nullam egestas et purus vel rutrum. Mauris luctus tortor ut posuere sagittis. Aliquam erat volutpat. Suspendisse elementum et justo at sollicitudin. Pellentesque feugiat sollicitudin dolor nec vestibulum. Aliquam vehicula vel turpis et efficitur. Pellentesque eget sagittis erat. Suspendisse potenti.</p>
          </div>
        </div>
      </a>
      </div>
</div> <!-- End Profile Card-->