/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  text-transform: uppercase;
  font-size: .889rem;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-radius: 0;
  padding: .8rem 3rem;
  color: #fff;
}

.button-pattern {
  padding: .75rem;
}
.btn:hover {
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

button {
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
  font-family: $font;
  font-size: 14px;
  outline: none;
  color: #fff;
	font-weight: bold;

}

.btn-red {
	background: #bb0a21;
	border: 2px solid #bb0a21;
	font-weight: bold;
 }
 
 .btn-red:hover {
  background: #fff;
  color: #bb0a21; 
 }
 
 .btn-red:active {
   background: #fff;
   border-color: #fff;
 }

 .btn-black {
  background: #252627;
  border: 2px solid #252627;
  font-weight: bold;
 }
 
 .btn-black:hover {
  background: #fff;
  color: #252627; 
 }
 
 .btn-black:active {
   background: #fff;
   border-color: #fff;
 }

 .btn-blue {
  background: #4b88a2;
  border: 2px solid #4b88a2;
  font-weight: bold;
 }
 
 .btn-blue:hover {
  background: #fff;
  color: #4b88a2; 
 }
 
 .btn-blue:active {
   background: #fff;
   border-color: #fff;
 }

.btn-grey {
 background: #d3d4d9;
 border: 2px solid #d3d4d9;
 font-weight: bold;
}

.btn-grey:hover {
 background: #fff;
 color: #d3d4d9; 
}

.btn-grey:active {
  background: #fff;
  border-color: #fff;
}

.btn-flexi {
 background: #59f8e8;
 border: 2px solid #59f8e8;
 font-weight: bold;
}

.btn-flexi:hover{
  background: #fff;
 color: #59f8e8; 
}

.btn-flexi:active {
  background: #fff;
  border-color: #fff;
}

