/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: #424242;
	color: $white;
	line-height: 1.2;
	padding: .75rem;
	text-transform: uppercase;

	&.footer-links {
		display: flex;
		justify-content: center;
	}

	&.nav-column h3.footer-heading {
		display: block;
		text-align: left;
		font-size: 18px;
		font-weight: 100;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
		font-size: .75rem;
	}

	a {
		color: $gray-light;
		font-size: .75rem;
	}
}

//Footer Nav
.nav-footer {
	margin: 0 auto;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;

		&:hover {
			text-decoration: none;
			color: #20ddae;

		}
	}
}

.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}