<div class="block block-hero">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{% include "@atoms/04-images/02-landscape-16x9.twig" %}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline.short }}</h2>
			<p>Sed purus tellus, eleifend et porttitor et, mattis a ex. Morbi faucibus sem sed ipsum congue, et tristique est scelerisque. Integer sollicitudin risus vel porta blandit. </p>
		</div>
	</a>
</div>
