<div class="social-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u=#">
    <span class="sr-only">Like</span>
    <i class="fab fa-facebook fa-2x"></i>
  </a>
  <a href="https://twitter.com/home?status=#">
    <span class="sr-only">Tweet</span>
    <i class="fab fa-twitter fa-2x"></i>
  </a>
  <a href="https://plus.google.com/share?url=#">
    <span class="sr-only">Share on Google+</span>
    <i class="fab fa-google-plus-g fa-2x"></i>
  </a>
  <a href="mailto:?&subject=SUBJECT&body=#">
    <span class="sr-only">Email</span>
    <i class="fa fa-envelope fa-2x"></i>
  </a>
</div>