<div class="checkerboard-row ">
  <img class="img-fluid" src="http://placeimg.com/300/300/nature" alt="Square" />  
  <div class="checker-nav">
    <h1 class="text-center text-uppercase pt-5 pb-3">
      Basic Header
    </h1>
    <ul class="arrow-nav">
    <li><a href="#">List Item One</a></li>
    <li><a href="#">List Item Two</a></li>
    <li><a href="#">List Item Three</a></li>
</ul>  
</div>
</div>