<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #d3d4d9;"></span>
		<span class="sg-label">#d3d4d9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4b88a2;"></span>
		<span class="sg-label">#4b88a2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bb0a21;"></span>
		<span class="sg-label">#bb0a21</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #252627;"></span>
		<span class="sg-label">#252627</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>
<h3>Secondary Colors</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #941c2f;"></span>
		<span class="sg-label">#941c2f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff9fb;"></span>
		<span class="sg-label">#fff9fb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #03191e;"></span>
		<span class="sg-label">#03191e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #59f8e8;"></span>
		<span class="sg-label">#59f8e8</span>
	</li>
</ul>