<p class="flexi-sans">Primary $flexi-sans: 'Source Sans Pro', sans-serif;</p>
<ul class="flexi-sans">
    <li style="font-weight: 200;">font_weight_extra_light: 200</li>
    <li style="font-weight: 300;">font_weight_light: 300</li>
    <li style="font-weight: 400;">font_weight_regular: 400</li>
    <li style="font-weight: 500;">font_weight_medium: 500</li>
    <li style="font-weight: 600;">font_weight_semi_bold: 600</li>
    <li style="font-weight: 700;">font_weight_bold: 700</li>
    <li style="font-weight: 900;">font_weight_black: 900</li>
</ul>