  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <script typs ="text/js">
  const accordion_button = document.querySelectorAll('.accordion-group .accordion-item button'); 

const all_item = document.querySelectorAll('.accordion-group .accordion-item');

accordion_button.forEach(ele=>{
  ele.addEventListener('click', () => {
    let content = ele.nextElementSibling;
    let active = document.querySelector('.accordion-group .accordion-item.active');
      if (active){
        if(ele.parentElement.classList.contains('active')){
          ele.parentElement.classList.remove('active')
          active.lastElementChild.style.maxHeight = '0';
        } else {
        active.classList.remove('active');
        active.lastElementChild.style.maxHeight = '0';
        ele.parentElement.classList.add('active');
        content.style.maxHeight = content.scrollHeight + 'px';
        }
      } else {
        ele.parentElement.classList.add('active');
        content.style.maxHeight = content.scrollHeight + 'px';
      }
  });
});

const searchIcon = document.getElementById("search");
const searchBox = document.getElementById("searchbox");

searchIcon.addEventListener('click', function () {
  if (searchBox.style.top == '50px') {
    searchBox.style.top = '-65px';
    searchBox.style.pointerEvents = 'none';
  } else {
    searchBox.style.top = '50px';
    searchBox.style.pointerEvents = 'auto';
  }
});

  </script>
  <script src="../../js/menu.js"></script>
  <script src="../../js/main.js"></script>
  <script src="../../js/tabs.js"></script>

  </body>
</html>
